@font-face {
    font-family: made ;
    src: url(./fonts/CrimsonText-SemiBold.ttf);
}

body{
    margin: 0;
    padding: 0;
}
.Navbar{
    color: #e5e5e5;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 1rem;
    font-family: made;
    font-size: 17px;
    justify-content: space-between;
}
.cont{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.navlist{
    display:flex;
    flex-direction: row;
    list-style: none;
    color: azure;
   
   }
.navlist *{
    margin-left: 1rem;
    margin-top: 0.4rem;
     text-decoration: none;
     color: #e5e5e5;
}
.navlist :nth-child(1){
    margin-left: 0rem;
}
.logo{
    height: 70px;
    width: auto;
}